<!-- <form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="mb-3">
    <input type="text" class="form-control" name="username"
    [(ngModel)]="model.username" placeholder="Username">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password"
    [(ngModel)]="model.password" placeholder="Password">
  </div>
  <div class="text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form> -->
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="mb-3">
    <label style="margin-right: 10px;">I am:</label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="male" formControlName="gender">Male
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="female" formControlName="gender">Female
    </label>
  </div>
  <div class="mb-3">
    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>
  </div>
  <div class="mb-3">
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known As'"></app-text-input>
  </div>
  <div class="mb-3">
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])"
      [label]="'Date of Birth'" [maxDate]="maxDate"></app-date-picker>
    <!-- <app-text-input [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Date of Birth'" [type]="'date'"></app-text-input> -->
  </div>
  <div class="mb-3">
    <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input>
  </div>
  <div class="mb-3">
    <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input>
  </div>
  <div class="mb-3">
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"
      [type]="'password'"></app-text-input>
  </div>
  <div class="mb-3">
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'"
      [type]="'password'"></app-text-input>
  </div>
  <!-- <div class="mb-3">
    <input type="password" class="form-control"
      [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
      formControlName="password" placeholder="Password">
      <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedback">Please enter a password</div>
      <div *ngIf="registerForm.get('password')?.hasError('minlength')" class="invalid-feedback">Password must be at least 4 characters</div>
      <div *ngIf="registerForm.get('password')?.hasError('maxlength')" class="invalid-feedback">Password must be maximum of 8 characters</div>
  </div>
  <div class="mb-3">
    <input type="password" class="form-control"
      [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched"
      formControlName="confirmPassword" placeholder="Confirm password">
      <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="invalid-feedback">Please enter a confirm password</div>
      <div *ngIf="registerForm.get('confirmPassword')?.hasError('minlength')" class="invalid-feedback">Password must be at least 4 characters</div>
      <div *ngIf="registerForm.get('confirmPassword')?.hasError('maxlength')" class="invalid-feedback">Password must be maximum of 8 characters</div>
      <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')" class="invalid-feedback">Confirm password must match password</div>
  </div> -->
  <div class="text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
